@font-face {
  font-family: "CharlieDisplay";
  src: url("./assets/fonts/charlie-display.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "CharlieDisplay", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* >>> Scrollbar Customization <<< */

/* Rules for Chrome, Edge, Opera, Safari Browsers */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
  --webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cccccc;
}

/* Rules only for Firefox Browser */
* {
  scrollbar-width: 5px;
  scrollbar-color: #d3d3d3 transparent; /* scrollbar-color: thumb-color track-color */
}
/* >>>>>>>>>>>>>>><<<<<<<<<<<<<<< */

div,
span,
select,
img {
  user-select: none;
}
